fastapi==0.95.2
uvicorn[standard]==0.22.0
pydantic==1.10.7

SQLAlchemy==1.4.49
psycopg2-binary==2.9.6   # mais estável para cloud

python-dotenv==1.0.0
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.6

reportlab==3.6.12        # evita build pesado
Pillow==9.5.0            # mais leve e compatível
